.title {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    margin: 0 9px 18px 0;
}

.currency {
    font-weight: bold;
    width: 100%;
    max-width: 200px;
    display: inline-block;
    text-align: right;
}