.title {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    margin-right: 9px;
}

.currency {
    font-weight: bold;
    width: 100%;
    max-width: 200px;
    display: inline-block;
    text-align: right;
}