html {
  box-sizing: border-box;
}

*,
::after ::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("./background.jpg");
  background-size: cover;
  min-height: 100vh;
}